
<%- include('./partials/head') %>
<%- include('./partials/headerLogeado') %>

    <main>
        <div class="post-detail container">
            <section class="center main-content post">
                <% for (let i=0; i < listaId.length; i++) { %>
                <div class="info-usuario">
                    <img src="img/imagenUsuario.jpeg" alt="imagen Usuario">
                    <p><a href="/users/detalleUsuario">Nombre de usuario</a></p>
                </div>
                
                <img src="<%=listaId[i].imagenPosteo %>" alt="Paisajes">
            </section>
            <section class="right">
                <h4>Comentarios</h4>
                <% for(let j=0; j < listaId[i].comentarios.length; j++){%>
                <section class="comments">
                    <form action="" class="comment-form">
                        <input type="text" class="input" placeholder="Agregar comentario">
                        <button type="submit">Comentar</button>
                    </form>
                    <div>
                        <article class="comment">
                            <img src="img/imagenUsuario.jpeg" alt="imagen Usuario">
                            <section class="content">
                                <a class="user" href="/users/detalleUsuario"> <%=listaId[i].comentarios[j].usuario%></a>
                                <span><%=listaId[i].comentarios[j].comentario%></span>
                            </section>
                        </article>
                       
                    </div>
                </section>
            </section>
            <%}%>
            <% } %>
        </div>
    </main>

    <%- include('./partials/footer') %> 


