<%- include('./partials/head') %>
    <%- include('./partials/header') %>
        <main>
            <div class="post-detail container">
                <section class="center main-content post">

                    <div class="info-usuario">
                        <img src="/img/imagenUsuario.jpeg" alt="imagen Usuario">
                        <a href="/users/detalleUsuario/<%= posteo.usuario.idUsuario%> ">
                            <%= posteo.usuario.nombre %>
                        </a>
                        <a href="/posteos/editar/<%= posteo.id%>">Editar</a>
                        <% if (locals.errores) { %>
                            <p> <%= errores.message %></p>
                           <% } %>
                    </div>

                    <img class="photo" src="<%= posteo.imagenPerfil %>" <%=posteo.descripcionPost %>>
                    <p>
                        <%= posteo.descripcionPost %>
                    </p>
                </section>
                <section class="right">
                    <h4>Comentarios</h4>
                    <section class="comments">
                        <form action="" class="comment-form">
                            <input type="text" class="input" placeholder="Agregar comentario">
                            <button type="submit">Comentar</button>
                        </form>
                        <div>
                            <div class="comment">

                                <% for(let i=0; i < posteo.comentarios.length; i++){%>

                                    <img src="/img/imagenUsuario.jpeg" alt="imagen Usuario">
                                    <section>
                                        <a href="/users/detalleUsuario/<%= posteo.usuario.idUsuario%> ">
                                            <%= posteo.comentarios[i].usuario.nombre %>
                                                </p>
                                        </a>

                                        </a>
                                        <span class="text">
                                            <%=posteo.comentarios[i].comentario%>
                                        </span>
                                    </section>
                                    <%}%>

                                    <form class="form" action="/posteos/comentar" method="POST">
                                        <input class="form-input" name="comentario" type="text" value="" placeholder="Agregar comentario">
                                        <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                                    </form>

                            </div>
                    </section>
                    

                    <div>
                    </div>

                </section>


            </div>
        </main>

        <%- include('./partials/footer') %>