<%- include('./partials/head') %>
    <%- include('./partials/header') %>

        <main>
            <div class="post-detail container">
                <section class="center main-content post">
                   <% for (let i=0; i < posteo.length; i++) { %>
                        <div class="info-usuario"></div>
                        <img src="/img/imagenUsuario.jpeg" alt="imagen Usuario">
                        <a href="/users/detalleUsuario/<%= posteo[i].usuario.idUsuario%> "><%= posteo[i].usuario.nombre %> 
                        </p></a>
                        
                    </div>
                    <img class="photo"  src="<%= posteo.imagenPerfil %>" alt="<%= posteo.descripcionPost %>"> 
                </section>
                <section class="right">
                    <h4>Comentarios</h4>
                    <section class="comments">
                        <form action="" class="comment-form">
                            <input type="text" class="input" placeholder="Agregar comentario">
                            <button type="submit">Comentar</button>
                        </form>
                        <div>
                            <div class="comment" >
                        
                                <% for(let j=0; j < posteo[i].comentarios.length; j++){%>
                                    <img src="/img/imagenUsuario.jpeg" alt="imagen Usuario">
                                    <section>
                                        <a href="/users/detalleUsuario/<%= posteo[i].usuario.idUsuario%> "><%= posteo[i].usuario.nombre %></p></a>
                                            <%=posteo[i].comentarios[j].usuario%>
                                        </a>
                                        <span class="text">
                                            <%=posteo[i].comentarios[j].comentario%>
                                        </span>
                                    </section>
                                    <%}%>
                           
                        </div>
                    </section>


                    <div>
                    </div>

                </section>
                
                <% } %>
            </div>
        </main>

        <%- include('./partials/footer') %>