

<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="edit-product-container">
    <h1>Editar Producto</h1>

    <form action="/posteos/editar/<%= posteo.id %>" method="post">
        <div>
            <label for="descripcionPost">Descripción del posteo:</label>
            <input type="text" id="descripcionPost" name="descripcionPost" value="<%= posteo.descripcionPost %>" placeholder="Descripcion del posteo" required>
        </div>
        <div>
            <label for="imagenPerfil">Foto del posteo:</label>
            <input type="text" id="imagenPerfil" name="imagenPerfil" value="<%= posteo.imagenPerfil %>" placeholder="Foto del posteo" required>
        </div>
        <input type="submit" value="EDITAR POSTEO">
    </form>
</div>
