<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main>
  <section class="center main-content">
      <article class="post">
        <% for(let i=0; i < posteosFiltro.length; i++){%>
          <div class="info-usuario ">
              <img src="/img/imagenUsuario.jpeg" alt="usuario">
              <h4>
                <a href="/users/detalleUsuario/<%= posteosFiltro[i].usuario.idUsuario%> "><%= posteosFiltro[i].usuario.nombre %></p></a>
              <!-- PREGUNTAR AGREGAR NOMBRE AL MODELO USUARIO Y CAMBIAR EL .ID -->
              </h4>
          </div>
          <div class="post-body">
              <a href="/posteos/detalle/<%=posteosFiltro[i].id%>">
                <img src="<%=posteosFiltro[i].imagenPerfil%>" alt="Imagen de <%posteosFiltro[i].descripcionPost%>" >
                <p><%= posteosFiltro[i].descripcionPost %></p>
              </a>
          </div>
          <ul class="post-reacciones">
              <li>
                  <i class="fa-regular fa-heart"></i>
              </li>
              <li>
                  <i class="fa-regular fa-comment"></i>
              </li>
          </ul>
         


          <div class="post-comentarios">
              <h4>Comentarios</h4>
                <% for(let j=0; j < posteosFiltro[i].comentarios.length; j++){%> 
              <ul>
                  <li>
                    <a href="/users/detalleUsuario/<%=posteosFiltro[i].comentarios[j].usuario.idUsuario %> "><%= posteosFiltro[i].comentarios[j].usuario.nombre %></p></a>
                      <span><%=posteosFiltro[i].comentarios[j].comentario%></span>
                  </li>
                  
                  <a href="/users/detalleUsuario">Ver más...</a>
              </ul>
          </div>
      </article>
      <%}%>

      <%}%>

      
<!-- Hasta aca -->
    

<%- include('./partials/footer') %>


