<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="/img/imagenUsuario.jpeg" alt="imagen usuario">
                <div class="info-usuario">
                    <p>Ana Garcia</p> 
                    <a class="follow" href="editarPerfil.html"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li>12 post</li>
                        <li>295 seguidores</li>
                        <li>400 seguidos</li>
                    </ul>
                </div>
            </section>
            
            <section class="bottom">
                <article class="post">
                    <% for(let i=0; i < posteos.length; i++){%>
                    <a href="/posteos/detalle/<%=posteos[i].id%>">
                        <img src=<%=posteos[i].imagenPosteo%> >
                    </a>
                    <%}%>
                </article>
                
            </section>
        </div>
    </main>
 
    <%- include('./partials/footer') %> 