<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main>
        <div class="user-detail container">
            <section class="top main-content">
                <img src="<%= usuario.fotoDePerfil %>" alt="foto de perfil" class="foto-perfil">
                <div class="info-usuario">
                    <p> <%= usuario.nombre %> </p> 
                    <h1 class="follow">  <% if (locals.user) { %>
                        <% if (locals.user.id === usuario.id) { %>
                            <a href="/users/editarPerfil/<%= usuario.id %>">
                                <i class="fas fa-cog"></i>
                            </a>
                        <% } else { %>
                            <a class="fa-solid fa-user-gear" href="">SEGUIR</a>
                        <% } %>
                    <% } else { %>
                        <a class="fa-solid fa-user-gear" href="/users/login">SEGUIR</a>
                    <% } %></h1>
                    <ul class="meta">
                        <li><%= usuario.posteos.length %> posteos</li>
                        <li>295 seguidores</li>
                        <li>400 seguidos</li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                <% for(let i=0; i < usuario.posteos.length; i++){%>
                <article class="post">
                    
                        <a href="/posteos/detalle/<%=usuario.posteos[i].id%>">
                    <img src="<%= usuario.posteos[i].imagenPerfil %>">
                    <article >
                       
                        <p><%= usuario.posteos[i].descripcionPost %></p>
                        <p>Comentarios: <%= usuario.posteos[i].comentarios.length %></p>
                    </article>
                    </a>
                  
                </article>
                <%}%>
            </section>
        </div>
    </main>
 
    <%- include('./partials/footer') %> 

